@import 'modern-normalize/modern-normalize.css' layer(base);
@import '@citolab/qti-components/item.css' layer(base);
@import 'tailwindcss';
@plugin '@tailwindcss/typography';

web-canvas {
  &.splitline {
    background: linear-gradient(to right, #eeeeee 0%, #eeeeee 50%, #ffffff 50%, #ffffff 100%);
    background-position: center;
    background-size: 2px 100%;
    background-repeat: no-repeat;
  }
  [part='canvas'] {
    @apply block prose h-full w-full outline-hidden focus:ring-2 focus:ring-offset-2;
  }
  @apply z-20;
}

*:empty:after {
  content: '\0a';
  white-space: pre-wrap;
}

/* *:read-write {
  border:2px solid blue;
  white-space :'pre-wrap';
  white-space :'break-spaces';
} */

.selected {
  outline: 2px solid #007bff;
  background: rgba(0, 123, 255, 0.2);
}

div.error {
  @apply -z-10 origin-center scale-125 border border-b-red-500;
}

qti-prompt {
  cursor: text !important;
  user-select: text !important;
  background: transparent !important;
}

qti-simple-choice {
  cursor: text !important;
  user-select: text !important;
  background: transparent !important;
}

.activeButton {
  position-anchor: --activeElement;
  position: fixed;
  right: calc(anchor(left) + 2rem);
  top: anchor(top);

  z-index: 1000;
}

div.error {
  @apply -z-10 origin-center scale-125 border-2 border-t-0 border-r-0 border-l-0 border-b-red-500;
}

.two-column {
  @apply grid grid-cols-2 gap-0 divide-x divide-solid divide-slate-200;
  & > * {
    @apply border-y-0 p-4;
  }
}

.selected {
  outline: 2px solid #007bff;
  background: rgba(0, 123, 255, 0.2);
}
